.body {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", Arial, sans-serif;
  font-family: "";
  font-size: 16px;
  line-height: 20px;
}
.nav {
  display: flex;
  justify-content: space-between;
  margin-right: 26px;
}
.nav__box {
  position: relative;
  justify-content: space-between;
  line-height: 12px;
  padding-right: 30px;
  padding-top: 26px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.logo {
  display: block;
  position: relative;
  padding-left: 30px;
  padding-top: 30px;
}
.nav__box-link {
  font-family: "Inter";
  text-decoration: none;
  color: black;
  margin-left: 20px;
  transition: color 0.3s ease;
}
.nav__box-link:hover {
  color: #ff976b;
}
/*header*/

.header {
  background-color: #fff;
  min-height: 700px;
  max-height: 800px;
  background-image: url("./images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header__title {
  position: absolute;
  margin-top: 108px;
  margin-left: 83px;
}
.header__description {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  position: absolute;
  margin-left: 80px;
  margin-top: 272px;
}
.header__image {
  position: absolute;
  margin-left: 403px;
  margin-top: 0;
  width: 646px;
  height: 568px;
  margin-left: 805px;
  margin-top: 0px;
}
.header__info {
  display: flex;
  position: relative;
  margin-top: 549px;
  margin-left: 80px;
  margin-right: 80px;
  padding-bottom: 40px;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 5px;
  color: #6f6f6f;
}
.title1 {
  font-family: "Times New Roman";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #ff976b;
}
.title2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}
/*Form*/
.reservation {
  background-color: #ffd6c5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}
.form__background-image {
  background-image: url(.images/background_reservation.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}
.form {
  width: 380px;
}
.form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
}
.form__title {
  position: relative;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-block-start: auto;
  margin-block-end: auto;
  margin-top: 100px;
}
.form__fieldscontainer {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: stretch;
  margin-top: 80px;
}
.form__label {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.form__input {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  height: 20px;
  margin-top: 8px;
  margin-bottom: 32px;
  padding: 20px;
  box-sizing: border-box;
}
.form__button-submit {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.form__btn {
  height: 60px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: white;
  background-color: #e96e3a;
  border: none;
  margin-bottom: 32px;
  opacity: 1;
}
.form__btn:hover {
  opacity: 0.7;
}
.accept {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 120px;
}
.form_checkbox {
  margin-right: 12px;
}
/*Footer*/
.footer {
  background-color: #d35722;
  position: absolute;
  width: 100%;
}
.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding: 60px;
}
.footer__logo {
  height: 39px;
  padding-left: 20px;
}
.footer__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 20px;
}
.footer__link_social {
  margin-bottom: 15px;
}
.footer__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  margin-block: 0;
  margin-bottom: 5px;
}
.footer__link_social-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
  margin-left: 10px;
  transition: color 0.3s ease;
}
.footer__link_social-text:hover {
  color: #ffd6c5;
}
.footer__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}
.copyright {
  padding-left: 80px;
  padding-bottom: 60px;
}
